# ****************************************************************************
# *                             Ignore Everything                            *
# ****************************************************************************

*

# ****************************************************************************
# *                                Allow List                                *
# ****************************************************************************

# (Start with "!")

# Directories


# Extensions
!*.json
!*.py
!*.sample

# Files
!.gitignore
!Caddyfile
!Makefile

# ****************************************************************************
# *                                 Deny List                                *
# ****************************************************************************

# Directories


# Extensions


# Files
*sample.py
*sample.json
